:root {
    --margin: 1.5rem;
    --padding: 0.5em;
    font-size: 13px;
    user-select: none;
}

body {
    padding: 0;
    margin: 4em;
    margin-bottom: 0;
    font-family: monospace;
}

#header {
    margin-bottom: 2em;
}

#timedisplay {
    text-align: center;
    font-size: 5em;
}

#display {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--margin);
}

.bin {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
    gap: var(--margin);
    transition-duration: 250ms;
    margin-bottom: var(--margin);
}

.card {
    text-transform: capitalize;
}

.link {
    text-decoration: none;
    display: block;
    padding: var(--padding);
}

.bookmark {
}

.title {
    padding: var(--padding);
}

